#Python2

# Find a recent distribution at http://sourceforge.net/projects/pywin32/files/pywin32/, and install.
pyWin32

# Find a recent distribution at http://sourceforge.net/projects/pyhook/
# or 64-bit at http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyhook, and install
pyHook

